.simple-nav .btn{
    width: 100%;   
    margin-top: 3%;
}

.btnAddDepartmentInput{
    margin: 3%;
    
}

.form-control{
    margin: 3%;
    text-align: center;
}
.btn-group{
    margin: 3%;
}

.marginM{
    margin: 3%;
}

.textcenter{
    text-align: center;
}